#include <windows.h>
#include "../config.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PROPERTY DIALOG DISCARDABLE  0, 0, 350, 220
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TClock Properties"
CLASS "TClockPropertyClass"
FONT 9, "MS Sans Serif"
BEGIN
    CONTROL         "",IDC_TREE,"SysTreeView32",TVS_HASBUTTONS | 
                    TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | 
                    WS_BORDER | WS_TABSTOP,8,8,89,206
    LTEXT           "Dialog Pane",IDC_DUMMY,104,8,241,184,NOT WS_VISIBLE | 
                    NOT WS_GROUP
    DEFPUSHBUTTON   "&Apply TCLOCK",IDC_APPLY,104,198,100,14
    PUSHBUTTON      "&Close TCLOCK",IDC_CLOSE,218,198,100,14
END

IDD_PAGECOLOR DIALOG DISCARDABLE  0, 0, 230, 163
STYLE DS_CONTROL | WS_CHILD
FONT 9, "MS Sans Serif"
BEGIN
    CONTROL         "Background1",IDC_CHKCOLOR,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,0,5,56,11
    COMBOBOX        IDC_COLBACK,62,5,84,120,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "...",IDC_CHOOSECOLBACK,151,5,14,13
    CONTROL         "Background2",IDC_CHKCOLOR2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,0,26,56,11
    COMBOBOX        IDC_COLBACK2,62,26,84,120,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "...",IDC_CHOOSECOLBACK2,151,26,14,13
    RTEXT           "Gradation",IDC_STATIC,32,48,60,12
    CONTROL         "Horizontal",IDC_GRAD1,"Button",BS_AUTORADIOBUTTON | 
                    WS_GROUP | WS_TABSTOP,100,45,50,15
    CONTROL         "Vertical",IDC_GRAD2,"Button",BS_AUTORADIOBUTTON,154,45,
                    50,15
    CONTROL         "Paint Tray background",IDC_FILLTRAY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,62,62,116,12
    RTEXT           "Text",IDC_STATIC,26,84,29,10
    COMBOBOX        IDC_COLFORE,62,82,84,120,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "...",IDC_CHOOSECOLFORE,151,82,14,13

    RTEXT           "Font",IDC_STATIC,26,103,29,12
    COMBOBOX        IDC_FONT,62,101,84,120,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    RTEXT           "Size",IDC_STATIC,26,122,29,12
    COMBOBOX        IDC_FONTSIZE,62,120,38,66,CBS_DROPDOWN | WS_VSCROLL | 
                    WS_TABSTOP

    CONTROL         "Bold",IDC_BOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    114,119,36,12
    CONTROL         "Italic",IDC_ITALIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,154,119,40,12
END

IDD_PAGESIZE DIALOG DISCARDABLE  0, 0, 198, 176
STYLE DS_CONTROL | WS_CHILD
FONT 9, "MS Sans Serif"
BEGIN
    GROUPBOX        "Align",IDC_STATIC,4,5,171,30
    CONTROL         "Left",IDC_ALIGNLEFT,"Button",BS_AUTORADIOBUTTON | 
                    WS_GROUP | WS_TABSTOP,19,18,27,10
    CONTROL         "Center",IDC_ALIGNCENTER,"Button",BS_AUTORADIOBUTTON,64,
                    18,35,10
    CONTROL         "Right",IDC_ALIGNRIGHT,"Button",BS_AUTORADIOBUTTON,120,
                    18,31,10
    GROUPBOX        "Arrangement of text",IDC_STATIC,4,43,171,55
    RTEXT           "Vertical position",IDC_STATIC,9,59,55,11
    EDITTEXT        IDC_VERTPOS,71,57,40,13,ES_AUTOHSCROLL
    CONTROL         "",IDC_SPINVPOS,"msctls_updown32",UDS_WRAP | 
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS,111,51,9,13
    RTEXT           "Line height",IDC_STATIC,9,78,55,11
    EDITTEXT        IDC_LINEHEIGHT,71,76,40,13,ES_AUTOHSCROLL
    CONTROL         "",IDC_SPINLHEIGHT,"msctls_updown32",UDS_WRAP | 
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS,111,71,9,13
    CONTROL         "Fit clock to tray",IDC_FITCLOCK,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,8,109,95,10
    GROUPBOX        "Arrangement of size",IDC_ARRANGESIZE,4,127,171,36
    RTEXT           "Width",IDC_STATIC,11,144,36,12
    EDITTEXT        IDC_CLOCKWIDTH,51,142,37,13,ES_AUTOHSCROLL
    CONTROL         "",IDC_SPINCWIDTH,"msctls_updown32",UDS_WRAP | 
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS,82,134,9,13
    RTEXT           "Height",IDC_STATIC,88,144,23,12
    EDITTEXT        IDC_CLOCKHEIGHT,115,142,37,13,ES_AUTOHSCROLL
    CONTROL         "",IDC_SPINCHEIGHT,"msctls_updown32",UDS_WRAP | 
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS,149,134,9,13
END

IDD_PAGEFORMAT DIALOG DISCARDABLE  0, 0, 210, 183
STYLE DS_CONTROL | WS_CHILD
FONT 9, "MS Sans Serif"
BEGIN
    RTEXT           "Locale",IDC_STATIC,1,12,27,11
    COMBOBOX        IDC_LOCALE,33,10,105,125,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    CONTROL         "Year",IDC_YEAR4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,
                    32,34,12
    CONTROL         "Year (2 digits)",IDC_YEAR,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,59,32,62,12
    CONTROL         "Month",IDC_MONTHS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    9,51,36,13
    CONTROL         "Month (digits)",IDC_MONTH,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,59,51,62,12
    CONTROL         "Day",IDC_DAY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,71,
                    30,12
    CONTROL         "Day of Week",IDC_WEEKDAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,59,71,62,12
    CONTROL         "Line break",IDC_KAIGYO,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,126,71,50,12
    CONTROL         "Hour",IDC_HOUR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,
                    91,33,12
    CONTROL         "Minute",IDC_MINUTE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,58,91,39,12
    CONTROL         "Second",IDC_SECOND,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,126,91,42,12
    CONTROL         "12H",IDC_12HOUR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,9,
                    112,33,13
    CONTROL         "AM/PM",IDC_AMPM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    58,112,49,12
    PUSHBUTTON      "Details...",IDC_FORMATDETAIL,129,110,50,15
    CONTROL         "Customize format",IDC_CUSTOM,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,10,135,80,12
    EDITTEXT        IDC_FORMAT,10,150,185,18,ES_AUTOHSCROLL
END

IDD_FORMAT2 DIALOG DISCARDABLE  0, 0, 162, 107
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Details"
FONT 9, "MS Sans Serif"
BEGIN
    RTEXT           "AM symbol",IDC_STATIC,8,16,38,10
    COMBOBOX        IDC_AMSYMBOL,50,14,35,50,CBS_DROPDOWN | WS_VSCROLL | 
                    WS_TABSTOP
    RTEXT           "PM symbol",IDC_STATIC,8,36,38,10
    COMBOBOX        IDC_PMSYMBOL,50,34,35,50,CBS_DROPDOWN | WS_VSCROLL | 
                    WS_TABSTOP
    CONTROL         "Show 0:xx at 12:xx",IDC_ZERO,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,12,58,80,13
    DEFPUSHBUTTON   "OK",IDOK,28,85,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,85,85,50,14
END





/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_TCPROP              ICON    DISCARDABLE     "tcprop.ico"

/////////////////////////////////////////////////////////////////////////////
//
// 24
//

1                       24      DISCARDABLE     "tclock.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,1
 PRODUCTVERSION 0,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "TCPROP\0"
            VALUE "CompanyName", "Kazubon\0"
            VALUE "FileDescription", "TClock Light\0"
            VALUE "FileVersion", "0, 0, 0, 1\0"
            VALUE "InternalName", "TCPROP\0"
            VALUE "LegalCopyright", "(C) Kazuto Sato\0"
            VALUE "OriginalFilename", "tcprop.exe\0"
            VALUE "ProductName", "TClock Light\0"
            VALUE "ProductVersion", "0, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_BTNFACE             "Button Face"
    IDS_BTNSHADOW           "Button Shadow"
    IDS_BTNLIGHT            "Button Highlight"
    IDS_BTNTEXT             "Button Text"
    IDS_NOICON              "No icons in this file."
    IDS_CLOCK               "Clock"
    IDS_COLOR               "Color and Font"
    IDS_SIZEPOS             "Size and Position"
    IDS_FORMAT              "Format"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SYNC                "Synchronization"
    IDS_TASKBAR             "Taskbar"
    IDS_MISC                "Misc"
    IDS_FILE                "File"
    IDS_NONE                "(None)"
    IDS_OPENFILE            "Open File"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TCLOCKMENU          "TClock Menu"
    IDS_PROPDATE            "Date/Time Properties"
    IDS_EXITWIN             "Shut Down Windows"
    IDS_LOGOFF              "Log off"
    IDS_RUN                 "Run"
    IDS_ALLMIN              "Minimize All Windows"
    IDS_MONOFF              "Monitor OFF"
    IDS_FORMATCOPY          "Format"
    IDS_NUMERO              "No."
    IDS_MONOFFSEC           "Seconds"
    IDS_OPENBY              "Open with..."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_COPYTO              "Copy To..."
    IDS_MOVETO              "Move To..."
    IDS_APPLICATION         "Application"
    IDS_FOLDER              "Folder"
    IDS_WHEELUP             "WheelUp"
    IDS_WHEELDOWN           "WheelDown"
END

